<h2>New Account</h2>

<form action="/sessions/signup" method="POST">
<label>Username:</label>
<input type="text" name="username" placeholder="Username">
<br>
<label>Email:</label>
<input type="text" name="email" placeholder="email">
<br>
<label>Password:</label>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Sign Up">
</form>

<!-- add require pattern later -->
