<h3>All Recipes:</h3>

<ul>
<%  @recipes.each do |recipe| %>
    <li> <a href="/recipes/<%=recipe.id%>"><%= recipe.name %> </a></li>
<br>


<% end %>
</ul>

<!-- show options: view drinkbook, create a recipe, logout -->
