<h2>Hi _ , welcome back to your Drinkbook!</h2>

<h3>All Recipes:</h3>

<ul>
<% @sorted_recipes.each do |recipe| %>
    <li> <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a></li>
<% end %>
</ul>

<!-- show options: view drinkbook, create a recipe, logout -->
