<h2>Create a New Drink Recipe</h2>

<form action="/recipes" method="POST">
<br>
<label>Cocktail Name: </label>
<input type="text"  name="name" required>
<br>
<br>
<label>Ingredients: </label>
<textarea name="ingredients" rows="2" cols="50" placeholder="1oz Vodka, 2oz orange juice, etc" required></textarea>
<br>
<br>
<label>Directions: </label>
<textarea name="directions" rows="2" cols="50" placeholder="Please seperate each step with a comma." required></textarea>
<br>
<br>
<label for="Spirit Type">Choose A Spirit:</label>
<select name="spirit_type" id="spirit_type">
  <option value="Bourbon">Bourbon</option>
  <option value="Gin">Gin</option>
  <option value="Rum">Rum</option>
  <option value="Tequila">Tequila</option>
  <option value="Vodka">Vodka</option>
  <option value="Whiskey">Whiskey</option>
  <option value="Other">Other</option>
</select>
<br>
<br>
<input type="submit" value="Create">
</form>
