<h1> Hi <%= @user.username %>, Welcome to your DrinkBook </h1>




<a href="/recipes">View Recipes</a>
<br>
<a href="/recipes/new">Add A New Recipe</a>
<br>
<a href="/logout">Logout</a>



<p> My Drink Recipes:
1
2
3
4
</p>
