<h1>Cheers, welcome to the DrinkBook</h1>
<br>

<!-- add blurb about application -->
<p>This will be a blurb about this website...</p>
<br>

<a href="/users/login">Login</a>
<br>
<a href="/users/signup">Create an Account</a>
